<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/posts_styles.css') }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="2;url=/messages" />
        <style>
            body {
            background-color:black;
        	color:white;
        	text-align:center;
            }
        </style>
    </head>
    <body id="body" style="position: absolute; top: 50%">
		<div>
		<h1>Your message has been encrypted and secured on your blockchain!</h1>
		</div>
		</body>
</html>