<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/posts_styles.css') }}">
<head>
	<meta charset="utf-8">
        <style>
            body {
            background-color:black;
        	color:white;
        	text-align:center;
            }
        </style>
    </head>
    <body onload="javascript:submit()" id="body">
		<div class="loader" style="display: block; position: absolute; right: 40%; top: 30%; height: 300px; width: 480px" id="loading">
			<div class="ball" style="display: block" id="ball"></div>
			<div class="ball" style="display: block" id="ball2"></div>
			<div class="ball" style="display: block" id="ball3"></div>
			<span>Encrypting Message...</span>
		</div>
		<script>
			function submit(){
			var loader = document.getElementById("loading");
			loader.style.display = "flex";
			var ball = document.getElementById("ball");
			ball.style.display= "block";
			var ball2 = document.getElementById("ball2");
			ball2.style.display= "block";
			var ball3 = document.getElementById("ball3");
			ball3.style.display= "block";
			var textbox = document.getElementById("textbox");
			textbox.style.display = "none";
			var texttitle = document.getElementById("texttitle");
			texttitle.style.display = "none";
			}
		</script>
		</body>
</html>
