.sendpostwhite {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFFFFF;
	outline: 2px solid #FFFFFF;
	padding:30px 60px;
	position: absolute;
	overflow: hidden;
	transition: color 1s;
	cursor: pointer;
}
.sendpostwhite:hover{
	color: #000000
}
.sendpostwhite::before{
	content: "";
	position: absolute;
	width: 0%;
	top: 0px;
	left: -50px;
	height: 100%;
	background-color: #FFFFFF;
	transform: skew(35deg);
	z-index: -1;
	transition: width 1s;
}
.sendpostwhite:hover::before{
	width: 150%;
}
.blockchainwhite {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFFFFF;
	outline: 2px solid #FFFFFF;
	padding:30px 60px;
	position: absolute;
	overflow: hidden;
	transition: color 1s;
	cursor: pointer;
}
.blockchainwhite:hover{
	color: #000000
}
.blockchainwhite::before{
	content: "";
	position: absolute;
	width: 0%;
	top: 0px;
	left: -50px;
	height: 100%;
	background-color: #FFFFFF;
	transform: skew(35deg);
	z-index: -1;
	transition: width 1s;
}
.blockchainwhite:hover::before{
	width: 150%;
}